{
  "openapi": "3.0.0",
  "info": {
    "title": "Online İşlemler API v1.0.1",
    "version": "1.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://online.tim.org.tr/api/v1"
    }
  ],
  "paths": {
    "/account/login": {
      "post": {
        "summary": "",
        "operationId": "post-login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "fullName": {
                          "type": "string"
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "expires": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "id": "03c5e326-a96c-4572-aea0-5d6490f60561",
                        "email": "test@tim.org.tr",
                        "fullName": "Tim",
                        "accessToken": "1234",
                        "refreshToken": "22222122",
                        "expires": "2020-08-06T20:22:26.1313761Z"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Hatalı kullanıcı adı ya da şifre girdiniz",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Login olurken kullanılır.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-LoginRequest"
              },
              "examples": {
                "example-1": {}
              }
            }
          }
        },
        "tags": [
          "Giriş"
        ]
      },
      "parameters": []
    },
    "/account/token/refresh": {
      "parameters": [],
      "post": {
        "summary": "",
        "operationId": "post-account-token-refresh",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string"
                    },
                    "data": {
                      "type": [
                        "string",
                        "object"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "fullName": {
                          "type": "string"
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "expires": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "id": "03c5e326-a96c-4572-aea0-5d6490f60561",
                        "email": "test@tim.org.tr",
                        "fullName": "Tim",
                        "accessToken": "1234",
                        "refreshToken": "22222122",
                        "expires": "2020-08-06T20:22:26.1313761Z"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Invalid Refresh Token",
                      "type": "danger",
                      "statusCode": 410
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Token'nin yenilenmesini sağlar. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-RefreshTokenRequest"
              }
            }
          }
        }
      }
    },
    "/account/forgot-password": {
      "post": {
        "summary": "",
        "operationId": "post-account-forgot-password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "e-posta gönderilecek e-posta adresi"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "email": "test@test.com"
                  }
                }
              }
            }
          }
        },
        "description": "Şifremi unutma işleminde şifre sıfırlamak için mail gönderir."
      }
    },
    "/account/change-password": {
      "post": {
        "summary": "",
        "operationId": "post-account-change-password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "title": "Bir Hata Oluştu",
                      "success": false,
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-ChangePasswordRequest"
              }
            }
          }
        },
        "description": "Kullanıcı şifre değişikliği için kullanılır."
      }
    },
    "/account/reset-password": {
      "post": {
        "summary": "",
        "operationId": "post-account-reset-password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "417": {
            "description": "Expectation Failed"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-ResetPasswordRequest"
              }
            }
          }
        },
        "description": "Kullanıcı şifresinin oluşturulmasını sağlar."
      }
    },
    "/power-of-attorney/list": {
      "parameters": [],
      "post": {
        "summary": "",
        "operationId": "post-action-log-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-DataSourceResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Data": [
                        {
                          "expiresOn": "2099-12-30T21:00:00Z",
                          "exporterCompanyId": "00000000-0000-0000-0000-000000000000",
                          "exporterCompanyName": "İhracatçı Firma Adı",
                          "exporterCompanyTaxNumber": "0000000000",
                          "brokerCompanyId": "00000000-0000-0000-0000-000000000000",
                          "brokerCompanyName": "Gümrük Müşaviri Firma Adı",
                          "brokerCompanyTaxNumber": "1111111111",
                          "notaryName": "Noter Adı",
                          "notaryApprovalNo": "123456",
                          "notaryApprovalDate": "2010-12-30T21:00:00Z",
                          "fromEbirlik": false,
                          "id": "00000000-0000-0000-0000-000000000000",
                          "statusId": 6002,
                          "statusText": "Onaylandı",
                          "createdOn": "2020-07-13T15:04:03.8346699Z",
                          "createdBy": "00000000-0000-0000-0000-000000000000",
                          "createdByUserFullname": "Oluşturan Kullanıcı Adı",
                          "modifiedOn": "2020-07-13T15:04:03.8345173Z",
                          "modifiedBy": "00000000-0000-0000-0000-000000000000",
                          "modifiedByUserFullname": "Güncelleyen Kullanıcı Adı"
                        },
                        {
                          "expiresOn": "2099-12-30T21:00:00Z",
                          "exporterCompanyId": "00000000-0000-0000-0000-000000000000",
                          "exporterCompanyName": "İhracatçı Firma Adı 2",
                          "exporterCompanyTaxNumber": "0000000000",
                          "brokerCompanyId": "00000000-0000-0000-0000-000000000000",
                          "brokerCompanyName": "Gümrük Müşaviri Firma Adı 2",
                          "brokerCompanyTaxNumber": "1111111111",
                          "notaryName": "Noter Adı 2",
                          "notaryApprovalNo": "12345678",
                          "notaryApprovalDate": "2010-12-30T21:00:00Z",
                          "fromEbirlik": false,
                          "id": "00000000-0000-0000-0000-000000000000",
                          "statusId": 6002,
                          "statusText": "Onaylandı",
                          "createdOn": "2020-07-13T15:04:03.8346699Z",
                          "createdBy": "00000000-0000-0000-0000-000000000000",
                          "createdByUserFullname": "Oluşturan Kullanıcı Adı 2",
                          "modifiedOn": "2020-07-13T15:04:03.8345173Z",
                          "modifiedBy": "00000000-0000-0000-0000-000000000000",
                          "modifiedByUserFullname": "Güncelleyen Kullanıcı Adı 2"
                        }
                      ],
                      "Total": 2,
                      "AggregateResults": null,
                      "Errors": null
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "description": "Vekaletnameleri listelemek için kullanılır."
      }
    },
    "/power-of-attorney/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "expiresOn": "2020-12-30T21:00:00Z",
                        "exporterCompanyId": "31b8e5a3-9b00-4697-a4ea-1895073024e1",
                        "exporterCompanyName": "İhracatçı Firma Adı",
                        "exporterCompanyTaxNumber": "0000000000",
                        "brokerCompanyId": "31b8e5a3-9b00-4697-a4ea-1895073024e2",
                        "brokerCompanyName": "Gümrük Müşaviri Firma Adı",
                        "brokerCompanyTaxNumber": "1111111111",
                        "notaryName": "Noter Adı",
                        "notaryApprovalNo": "123456",
                        "notaryApprovalDate": "2010-12-30T21:00:00Z",
                        "fromEbirlik": false,
                        "id": "31b8e5a3-9b00-4697-a4ea-1895073024ef",
                        "statusId": 6002,
                        "statusText": "Onaylandı",
                        "createdOn": "2020-07-13T15:04:03.8346699Z",
                        "createdBy": "00000000-0000-0000-0000-000000000000",
                        "createdByUserFullname": "Oluşturan Kullanıcı Adı",
                        "modifiedOn": "2020-07-13T15:04:03.8345173Z",
                        "modifiedBy": "00000000-0000-0000-0000-000000000000",
                        "modifiedByUserFullname": "Güncelleyen Kullanıcı Adı"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-power-of-attorney-id",
        "description": "İstenen kaydın id'si url'e yazılarak belirtilen kaydın bilgileri getirilir."
      }
    },
    "/power-of-attorney/request-complete": {
      "post": {
        "summary": "",
        "operationId": "post-power-of-attorney-request-complete",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Yeni bir vekaletname oluşturmak için kullanılır.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exporterCompanyTaxNumber": {
                    "type": "string",
                    "description": "Vekaletname veren firma vergi numarası"
                  },
                  "brokerCompanyTaxNumber ": {
                    "type": "string",
                    "description": "Vekaletname verilen gümrük müşaviri firma vergi numarası"
                  },
                  "expiresOn": {
                    "type": "string",
                    "description": "Vekaletname geçerlilik tarihi"
                  },
                  "notaryName": {
                    "type": "string",
                    "description": "Noter adı"
                  },
                  "notaryApprovalDate": {
                    "type": "string",
                    "description": "Noter onay tarihi"
                  },
                  "notaryApprovalNo": {
                    "type": "string",
                    "description": "Noter onay no"
                  },
                  "files": {
                    "type": "array",
                    "description": "Yüklenen vekaletname dosyalarının id listesi",
                    "items": {
                      "type": "string"
                    }
                  },
                  "associationId": {
                    "type": "string",
                    "description": "Talebin onaya gönderileceği birlik id'si"
                  },
                  "id": {
                    "type": "string",
                    "description": "Vekaletname id'si"
                  }
                },
                "required": [
                  "expiresOn",
                  "files",
                  "associationId",
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "expiresOn": "2020-12-30T21:00:00Z",
                    "brokerCompanyTaxNumber": "0987654321",
                    "exporterCompanyTaxNumber": null,
                    "associationId": "34567890-9b00-4697-a4ea-1895073024ef",
                    "notaryName": "John Doe",
                    "notaryApprovalDate": "2019-12-30T21:00:00Z",
                    "notaryApprovalNo": "1234",
                    "files": [
                      "123",
                      "234"
                    ]
                  }
                },
                "example-2": {
                  "value": {
                    "id": "31b8e5a3-9b00-4697-a4ea-1895073024ef",
                    "expiresOn": "2020-12-30T21:00:00Z",
                    "associationId": "34567890-9b00-4697-a4ea-1895073024ef",
                    "brokerCompanyTaxNumber": null,
                    "exporterCompanyTaxNumber": "0987654321",
                    "notaryName": "John Doe",
                    "notaryApprovalDate": "2019-12-30T21:00:00Z",
                    "notaryApprovalNo": "1234",
                    "files": [
                      "123",
                      "234"
                    ]
                  }
                }
              }
            }
          },
          "description": "Request gönderirken brokerCompanyTaxNumber veya exporterCompanyTaxNumber alanlarından sadece bir tanesi dolu olmalıdır. Eğer bu vekaletname talebini gönderen bir ihracatçı firma ise brokerCompanyTaxNumber(gümrük müşaviri vergi numarası) dolu olmalıdır. Eğer bu vekaletname talebini gönderen bir gümrük müşaviri ise exporterCompanyTaxNumber(ghracatçı firma vergi numarası)  dolu olmalıdır. Ayrıca yeni bir request gönderirken o vekaletname kaydına ait yeni bir id oluşturmak gerekir. (Yüklenen dosyalar ile ilişkilendirilebilmesi için id'yi oluşturmak gerekiyor.)\n"
        }
      }
    },
    "/approval-request/list": {
      "post": {
        "summary": "",
        "operationId": "post-approval-request-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-DataSourceResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Data": [
                        {
                          "Code": "TIM20-000000-00000",
                          "RequestTypeId": 2006,
                          "RequestTypeText": "Vekaletname Tanımlama Talebi",
                          "ExporterCompanyId": "3db2afb7-6758-4d86-a2b9-4684dbb5c791",
                          "ExporterCompanyName": "abc firması",
                          "ExporterCompanyTaxNumber": "0000000000",
                          "BrokerCompanyId": "99096fcb-d1a9-4369-868a-ef1377591de5",
                          "BrokerCompanyName": "xyz Gümrük Müşavirliği",
                          "BrokerCompanyTaxNumber": "1100000000",
                          "RejectReason": null,
                          "RequestedByName": "Talep Eden Ad Soyad",
                          "RequestedByEmail": "test@test.com",
                          "RequestUpdatedByName": null,
                          "ApprovalData": {
                            "name": "Talep Eden Ad Soyad",
                            "taxNumber": "1100000000",
                            "powerOfAttorneyExpireDate": "2020-08-25T00:00:00",
                            "identityNumber": "00001111000",
                            "email": "test@test.com",
                            "mobilePhone": "0(555) 566 66 66",
                            "files": [
                              "123456-2e8b-1234-8459-9eecec131dcb"
                            ],
                            "powerOfAttorneyId": "2a418af0-76fa-4a91-a261-7289c7bfa517"
                          },
                          "Files": null,
                          "FileList": null,
                          "Id": "4a3d2ddd-7ccc-4996-9411-8c08102ebeec",
                          "StatusId": 2102,
                          "StatusText": "Onay Bekliyor",
                          "CreatedOn": "2020-08-21T13:52:00.6989258Z",
                          "CreatedBy": "dfda5505-5c10-45a5-b7aa-c238ff7aed35",
                          "CreatedByUserFullname": "Oluşturan Ad Soyad",
                          "ModifiedOn": "2020-08-21T13:52:00.6982213Z",
                          "ModifiedBy": "dfda5505-5c10-45a5-b7aa-c238ff7aed35",
                          "ModifiedByUserFullname": "Düzenleyen Ad Soyad"
                        },
                        {
                          "Code": "TIM20-011111-11111",
                          "RequestTypeId": 2010,
                          "RequestTypeText": "Üye Bilgisi Güncelleme: Yeni Firma Temsilcisi",
                          "ExporterCompanyId": "3db2afb7-6758-4d86-a2b9-4684dbb5c791",
                          "ExporterCompanyName": "abc firması",
                          "ExporterCompanyTaxNumber": "0000000000",
                          "BrokerCompanyId": null,
                          "BrokerCompanyName": null,
                          "BrokerCompanyTaxNumber": null,
                          "RejectReason": null,
                          "RequestedByName": "Talep Eden Ad Soyad",
                          "RequestedByEmail": "test@test.com",
                          "RequestUpdatedByName": null,
                          "ApprovalData": {
                            "id": "00000000-0000-0000-0000-000000000000",
                            "name": "Talep Eden Ad Soyad",
                            "phone": "",
                            "identityNumberForRepresentative": "01101011110",
                            "jobTitle": "Diğer",
                            "oldName": null,
                            "oldIdentityNumber": null,
                            "oldJobTitle": null,
                            "assistantName": "Asistan Adı",
                            "assistantPhone": "0(555) 555 55 55",
                            "assistantEmail": "test22@test.com",
                            "fileList": null,
                            "files": [
                              "a5906e38-bc0f-4946-878c-e1387882180f",
                              "5b1887a7-7eff-4c61-8fd7-ba30e28b5954"
                            ],
                            "createdBy": "dfda5505-5c10-45a5-b7aa-c238ff7aed35",
                            "companyId": "3db2afb7-6758-4d86-a2b9-4684dbb5c791",
                            "identityNumber": "01020201000",
                            "mobilePhone": "0(533) 555 55 55"
                          },
                          "Files": null,
                          "FileList": null,
                          "Id": "68e00856-bc7e-4b6c-84d1-ea7870855bbd",
                          "StatusId": 2102,
                          "StatusText": "Onay Bekliyor",
                          "CreatedOn": "2020-07-20T13:24:14.8115627Z",
                          "CreatedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                          "CreatedByUserFullname": "Oluşturan Ad Soyad",
                          "ModifiedOn": "2020-07-20T13:24:14.8113903Z",
                          "ModifiedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                          "ModifiedByUserFullname": "Düzenleyen Ad Soyad"
                        }
                      ],
                      "Total": 2,
                      "AggregateResults": null,
                      "Errors": null
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Onay bekleyen talepleri listelemek için kullanılır."
      }
    },
    "/approval-request/set-status": {
      "post": {
        "summary": "",
        "operationId": "post-approval-request-set-status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Onaylamaya çalıştığınız talep sistemde bulunamadı. Talep başkası tarafından onaylanmış/reddedilmiş ya da silinmiş olabilir.",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Bekleyen bir onay talebini onaylamak veya reddetmek için kullanılır.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Bekleyen talep id'si"
                  },
                  "approve": {
                    "type": "boolean",
                    "description": "Talep onaylanırsa true, reddedilirse false olarak döndürülmeli."
                  },
                  "rejectReason": {
                    "type": "string",
                    "description": "Talep reddedilirse bunun nedeni yazılmalı."
                  }
                },
                "required": [
                  "id",
                  "approve"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "8c8c2aba-6f91-4ec5-b595-17737471a948",
                    "approve": true
                  }
                },
                "example-2": {
                  "value": {
                    "id": "8c8c2aba-6f91-4ec5-b595-17737471a948",
                    "approve": false,
                    "rejectReason": "Talep uygun değil"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/get-company-info": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "name": "XYZ Firması",
                        "taxNumber": "0000011111",
                        "taxRegistrationOffice": "ERTUGRULGAZI VERGİ DAİRESİ",
                        "chamberOfCommerce": "BURSA",
                        "commercialRegistrationNumber": "01010",
                        "companyTypeId": 3001,
                        "category": "DIGER",
                        "companyTypeText": "İhracatçı",
                        "companyKind": "ANONIM",
                        "lastExportStatsSync": "2020-07-24T08:44:09.8644214Z",
                        "id": "9c929647-0214-442b-bcde-0922576477d5",
                        "statusId": 1,
                        "statusText": "Aktif",
                        "createdOn": "2020-05-12T08:22:29.3140421Z",
                        "createdBy": "10000000-0000-0000-0000-000000000000",
                        "createdByUserFullname": "Anonim Kullanıcı",
                        "modifiedOn": "2020-07-16T07:35:06.5605638Z",
                        "modifiedBy": "10000000-0000-0000-0000-000000000000",
                        "modifiedByUserFullname": "Anonim Kullanıcı"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-company-info",
        "description": "Firmaya ait bilgiler getirilir."
      }
    },
    "/company/get-branch-office": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "name": "SUBE-1",
                          "addressTypeId": 3202,
                          "addressType": null,
                          "addressTypeText": null,
                          "country": "TÜRKIYE",
                          "city": "BURSA",
                          "county": "NİLÜFER",
                          "district": null,
                          "zipCode": "16000",
                          "street": "CAD. NO:1",
                          "address": "CAD. NO:1 16000 NİLÜFER, BURSA, TÜRKIYE",
                          "companyId": "45f5e427-e285-4415-beb1-4280520905d5",
                          "company": {
                            "name": "xyz Firması",
                            "taxNumber": "1110000000",
                            "taxRegistrationOffice": "ERTUGRULGAZI VERGİ DAİRESİ",
                            "chamberOfCommerce": "BURSA",
                            "commercialRegistrationNumber": "0000",
                            "companyTypeId": 3001,
                            "category": "DIGER",
                            "companyTypeText": null,
                            "companyKind": "ANONIM",
                            "lastExportStatsSync": "2020-07-26T12:45:31.1314482Z",
                            "addresses": [
                              {
                                "name": "MERKEZ",
                                "addressTypeId": 3202,
                                "addressType": null,
                                "addressTypeText": null,
                                "country": "TÜRKIYE",
                                "city": "BURSA",
                                "county": "NİLÜFER",
                                "district": null,
                                "zipCode": "16000",
                                "street": "CAD. NO:1",
                                "address": "CAD. NO:1 16063 NİLÜFER, BURSA, TÜRKIYE",
                                "companyId": "45f5e427-e285-4415-beb1-4280520905d5",
                                "companyName": null,
                                "statusId": 0,
                                "statusText": null,
                                "modifiedBy": "00000000-0000-0000-0000-000000000000",
                                "modifiedOn": "0001-01-01T00:00:00",
                                "id": "684205c9-1d44-4944-b9f3-a77727829d8c",
                                "createdOn": "2020-07-05T17:51:18.6754817Z",
                                "createdBy": "11111111-1111-1111-1111-111111111111",
                                "createdByUserFullname": null,
                                "modifiedByUserFullname": null
                              }
                            ],
                            "id": "45f5e427-e285-4415-beb1-4280520905d5",
                            "statusId": 1,
                            "statusText": null,
                            "createdOn": "2020-05-11T14:58:45.3321981Z",
                            "createdBy": "10000000-0000-0000-0000-000000000000",
                            "createdByUserFullname": null,
                            "modifiedOn": "2020-07-05T17:51:17.3026999Z",
                            "modifiedBy": "10000000-0000-0000-0000-000000000000",
                            "modifiedByUserFullname": null
                          },
                          "companyName": null,
                          "statusId": 0,
                          "statusText": null,
                          "modifiedBy": "00000000-0000-0000-0000-000000000000",
                          "modifiedOn": "0001-01-01T00:00:00",
                          "id": "72bedb20-c062-403d-9044-a3794cf2cc51",
                          "createdOn": "2020-07-05T17:51:18.4605644Z",
                          "createdBy": "11111111-1111-1111-1111-111111111111",
                          "createdByUserFullname": null,
                          "modifiedByUserFullname": null
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-branch-office",
        "description": "Firmanın şubelerini getirmek için kullanılır."
      }
    },
    "/company/get-contact-info": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "value": "+90(555)555 55 55",
                          "filedTypeId": 3400,
                          "fieldTypeText": null,
                          "fromEbirlik": true,
                          "id": "c25333a7-0e19-45bb-95b2-06d4f7b51028",
                          "createdOn": "2020-07-05T17:51:18.3175007Z",
                          "createdBy": "11111111-1111-1111-1111-111111111111",
                          "createdByUserFullname": null,
                          "modifiedByUserFullname": null
                        },
                        {
                          "value": "info@test.com",
                          "filedTypeId": 3403,
                          "fieldTypeText": null,
                          "fromEbirlik": true,
                          "id": "bc227587-44cf-412e-bb6f-8efd6413064e",
                          "createdOn": "2020-07-05T17:51:18.3319934Z",
                          "createdBy": "11111111-1111-1111-1111-111111111111",
                          "createdByUserFullname": null,
                          "modifiedByUserFullname": null
                        },
                        {
                          "value": "+90(224)245 91 09",
                          "filedTypeId": 3402,
                          "fieldTypeText": null,
                          "fromEbirlik": true,
                          "id": "819e380f-8fd1-4e3e-8fda-3e58b48f0f83",
                          "createdOn": "2020-07-05T17:51:18.346035Z",
                          "createdBy": "11111111-1111-1111-1111-111111111111",
                          "createdByUserFullname": null,
                          "modifiedByUserFullname": null
                        },
                        {
                          "value": "www.test.com",
                          "filedTypeId": 3404,
                          "fieldTypeText": null,
                          "fromEbirlik": true,
                          "id": "c6519c3d-f4c8-4191-85f3-2d18c4364204",
                          "createdOn": "2020-07-05T17:51:18.3737061Z",
                          "createdBy": "11111111-1111-1111-1111-111111111111",
                          "createdByUserFullname": null,
                          "modifiedByUserFullname": null
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-contact-info",
        "description": "Firmanın iletişim bilgilerini almak için kullanılır."
      }
    },
    "/company/get-company-manager": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "name": "Ayla Çavuş",
                          "ebirlikJobTitleCode": "FRMORT",
                          "jobTitle": "Firma Ortağı",
                          "identityNumber": "11111111111",
                          "fromEbirlik": false,
                          "isRepresentative": true,
                          "jData": "{\"representativePhone\":\"\",\"assistantName\":\"aaaaaa\",\"assistantPhone\":\"0(522) 222 22 22\",\"assistantEmail\":\"\"}",
                          "companyId": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                          "company": {
                            "name": "ŞAHİNLER FORM METAL SAN.VE TİC.A.Ş.",
                            "taxNumber": "7980976946",
                            "taxRegistrationOffice": "ERTUGRULGAZI VERGİ DAİRESİ",
                            "chamberOfCommerce": "BURSA",
                            "commercialRegistrationNumber": "46073",
                            "companyTypeId": 3001,
                            "category": "DIGER",
                            "companyTypeText": null,
                            "companyKind": "ANONIM",
                            "lastExportStatsSync": "2020-07-24T08:44:09.8644214Z",
                            "contacts": [],
                            "id": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                            "statusId": 1,
                            "statusText": null,
                            "createdOn": "2020-05-12T08:22:29.3140421Z",
                            "createdBy": "10000000-0000-0000-0000-000000000000",
                            "createdByUserFullname": null,
                            "modifiedOn": "2020-07-16T07:35:06.5605638Z",
                            "modifiedBy": "10000000-0000-0000-0000-000000000000",
                            "modifiedByUserFullname": null
                          },
                          "companyName": null,
                          "statusId": 0,
                          "statusText": null,
                          "fileList": null,
                          "files": null,
                          "id": "9c071561-94a6-dca2-e040-a8c0e7014ad3",
                          "createdOn": "2020-10-10T00:00:00Z",
                          "createdBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                          "createdByUserFullname": null,
                          "modifiedOn": "2020-07-08T09:12:23.4020247Z",
                          "modifiedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                          "modifiedByUserFullname": null
                        },
                        {
                          "name": "Cemil Fidanlıgül",
                          "ebirlikJobTitleCode": "YKBASKAN",
                          "jobTitle": "Yk Başkanı",
                          "identityNumber": "11111111111",
                          "fromEbirlik": false,
                          "isRepresentative": true,
                          "jData": null,
                          "companyId": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                          "company": {
                            "name": "ŞAHİNLER FORM METAL SAN.VE TİC.A.Ş.",
                            "taxNumber": "7980976946",
                            "taxRegistrationOffice": "ERTUGRULGAZI VERGİ DAİRESİ",
                            "chamberOfCommerce": "BURSA",
                            "commercialRegistrationNumber": "46073",
                            "companyTypeId": 3001,
                            "category": "DIGER",
                            "companyTypeText": null,
                            "companyKind": "ANONIM",
                            "lastExportStatsSync": "2020-07-24T08:44:09.8644214Z",
                            "contacts": [
                              {
                                "name": "Ayla Çavuş",
                                "ebirlikJobTitleCode": "FRMORT",
                                "jobTitle": "Firma Ortağı",
                                "identityNumber": "11111111111",
                                "fromEbirlik": false,
                                "isRepresentative": true,
                                "jData": "{\"representativePhone\":\"\",\"assistantName\":\"aaaaaa\",\"assistantPhone\":\"0(522) 222 22 22\",\"assistantEmail\":\"\"}",
                                "companyId": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                                "companyName": null,
                                "statusId": 0,
                                "statusText": null,
                                "fileList": null,
                                "files": null,
                                "id": "9c071561-94a6-dca2-e040-a8c0e7014ad3",
                                "createdOn": "2020-10-10T00:00:00Z",
                                "createdBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                                "createdByUserFullname": null,
                                "modifiedOn": "2020-07-08T09:12:23.4020247Z",
                                "modifiedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                                "modifiedByUserFullname": null
                              }
                            ],
                            "id": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                            "statusId": 1,
                            "statusText": null,
                            "createdOn": "2020-05-12T08:22:29.3140421Z",
                            "createdBy": "10000000-0000-0000-0000-000000000000",
                            "createdByUserFullname": null,
                            "modifiedOn": "2020-07-16T07:35:06.5605638Z",
                            "modifiedBy": "10000000-0000-0000-0000-000000000000",
                            "modifiedByUserFullname": null
                          },
                          "companyName": null,
                          "statusId": 0,
                          "statusText": null,
                          "fileList": null,
                          "files": null,
                          "id": "8c071561-94a6-dca2-e040-a8c0e7014ad3",
                          "createdOn": "2020-10-10T00:00:00Z",
                          "createdBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                          "createdByUserFullname": null,
                          "modifiedOn": "2020-10-10T00:00:00Z",
                          "modifiedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                          "modifiedByUserFullname": null
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-company-manager",
        "description": "Firma temsilcilerini almak için kullanılır."
      }
    },
    "/company/get-company-memberships": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "registrationNumber": 1,
                          "registrationDate": "15.10.1998",
                          "canGetMembershipDocument": false,
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "associationName": "İstanbul Demir ve Demirdışı Metaller İhracatçıları Birliği",
                          "phoneNumber": "0(212) 454 00 00"
                        },
                        {
                          "registrationNumber": 2,
                          "registrationDate": "30.07.2002",
                          "canGetMembershipDocument": false,
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "associationName": "Makine ve Aksamları İhracatçıları Birliği ",
                          "phoneNumber": "0(312) 447 27 40"
                        },
                        {
                          "registrationNumber": 3,
                          "registrationDate": "29.12.1998",
                          "canGetMembershipDocument": false,
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "associationName": "Otomotiv Endüstrisi İhracatçıları Birliği",
                          "phoneNumber": "0(224) 219 10 00"
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-company-memberships",
        "description": "Firmanın üye olduğu birlikleri alır."
      }
    },
    "/company/get-debts": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "cariYilAidatBorclari": [
                          {
                            "associationName": "Birlik Adı",
                            "AssociationCode": 1,
                            "amount": 102.5,
                            "year": 0,
                            "delayHike": 0
                          }
                        ],
                        "nispiAidatBorclari": [
                          {
                            "associationName": "Birlik Adı",
                            "AssociationCode": 1,
                            "amount": 102.5,
                            "year": 2020,
                            "delayHike": 55
                          }
                        ]
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-debts",
        "description": "Firmanın cari yıl aidat borçları ve nispi aidat borçlarını almak için kullanılır."
      }
    },
    "/document-request/download?id={id}": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-document-request-download",
        "description": "{id} parametresine belgenin idsi girilerek belirtilen belgenin indirilmesi sağlanır. Cevap olarak dosya döndürür."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/document-request/create-document/{documentType}?associationId={associationId}&period={period}&lang={lang}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "documentType",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "associationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "period",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "lang",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "code": "TIM20-000000-11111",
                        "documentTypeId": 5001,
                        "documentTypeText": "Üyelik Belgesi",
                        "exporterCompanyId": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                        "exporterCompanyName": null,
                        "exporterCompanyTaxNumber": null,
                        "brokerCompanyId": null,
                        "brokerCompanyName": null,
                        "brokerCompanyTaxNumber": null,
                        "description": "",
                        "notAllowedAssociationNames": "",
                        "id": "24f8f71b-5bd5-4dbf-a48a-e50b683e65ee",
                        "statusId": 1,
                        "statusText": null,
                        "createdOn": "2020-08-04T20:22:26.1313761Z",
                        "createdBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                        "createdByUserFullname": null,
                        "modifiedOn": "2020-08-04T20:22:32.174192Z",
                        "modifiedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                        "modifiedByUserFullname": null
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Belge oluşturma servisinde bir hata oluştu.",
                      "type": "danger",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Lütfen belge yazısının alınacağı birliği seçiniz.",
                      "type": "danger",
                      "statusCode": 500
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-document-request-create-document-documentType",
        "description": "Yeni bir belge oluşturmak için kullanılır. {documentType} yerine hangi belge türü oluşturulacak ise onun int tipinde değeri yazılır. Girilmesi zorunludur.\n-Üyelik belgesi -> 5001, \n-Üye Bilgi Yazısı -> 5002, \n-Performans ve Güvenilirlik Belgesi -> 5003,\n-3 Yıllık İhracat Raporu -> 5004.\n\nEğer Üyelik bilgi yazısı ise {associationId} ve {lang} değerleri gönderilmelidir. {lang} tr veya en olmalıdır.\n\nPerformans belgesi ise {associationId} ve {period} değeri gönderilmelidir. \nPeriod değerleri (Her ay değişir. Ağustos 2020 ayını baz alırsak aşağıdaki değerler gönderilmelidir.):\n-2 yıl önce bulunduğumuz ayın 1'i (01.08.2018)\n-2 yıl 1 ay önceki ayın 1'i (01.07.2018)\n-2 yıl 2 ay önceki ayın 1'i (01.06.2018)\ndeğerleri belgenin başlangıç tarihi parantez şeklindeki hali ile gönderilir."
      }
    },
    "/document-request/associations-menu": {
      "post": {
        "summary": "",
        "operationId": "post-document-request-associations-menu",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "disabled": false,
                          "group": null,
                          "selected": false,
                          "text": "Uludağ İhracatçı Birlikleri Genel Sekreterliği",
                          "value": "d4b5a93c-7c26-4860-beaf-911056f36f58"
                        },
                        {
                          "disabled": false,
                          "group": null,
                          "selected": false,
                          "text": "İstanbul Maden ve Metaller İhracatçı Birlikleri Genek Sekreterliği",
                          "value": "b56947b8-f54d-4e8c-94a5-c8d2265e3045"
                        },
                        {
                          "disabled": false,
                          "group": null,
                          "selected": false,
                          "text": "Orta Anadolu İhracatçı Birlikleri Genel Sekreterliği",
                          "value": "3d622ab4-0241-4925-9ec9-349089cb3292"
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Belge oluştururken bağlı olduğu birlikleri dropdowna getirir."
      }
    },
    "/document-request/list": {
      "post": {
        "summary": "",
        "operationId": "post-document-request-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-DataSourceResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Data": [
                        {
                          "Code": "TIM20-072014-42802",
                          "DocumentTypeId": 5002,
                          "DocumentTypeText": "Üyelik Bilgi Yazısı",
                          "ExporterCompanyId": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "ExporterCompanyName": "xyz firması",
                          "ExporterCompanyTaxNumber": "0000000222",
                          "BrokerCompanyId": null,
                          "BrokerCompanyName": null,
                          "BrokerCompanyTaxNumber": null,
                          "Description": "[ TR ] - Otomotiv Endüstrisi İhracatçıları Birliği",
                          "NotAllowedAssociationNames": null,
                          "Id": "d1d8bbca-afe6-0011-4444-5f7563e6acad",
                          "StatusId": 1,
                          "StatusText": "Aktif",
                          "CreatedOn": "2020-07-20T11:42:31.0136185Z",
                          "CreatedBy": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "CreatedByUserFullname": "Oluşturan Ad Soyad",
                          "ModifiedOn": "2020-07-20T11:42:32.9912014Z",
                          "ModifiedBy": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "ModifiedByUserFullname": "Düzenleyen Ad Soyad"
                        },
                        {
                          "Code": "TIM20-072014-41517",
                          "DocumentTypeId": 5001,
                          "DocumentTypeText": "Üyelik Belgesi",
                          "ExporterCompanyId": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "ExporterCompanyName": "xyz firması",
                          "ExporterCompanyTaxNumber": "0000000222",
                          "BrokerCompanyId": null,
                          "BrokerCompanyName": null,
                          "BrokerCompanyTaxNumber": null,
                          "Description": "",
                          "NotAllowedAssociationNames": null,
                          "Id": "75f1a411-4668-4cbb-bc11-a51aa0f0d200",
                          "StatusId": 1,
                          "StatusText": "Aktif",
                          "CreatedOn": "2020-07-20T11:41:50.3620579Z",
                          "CreatedBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "CreatedByUserFullname": "Oluşturan Ad Soyad",
                          "ModifiedOn": "2020-07-20T11:41:52.5548771Z",
                          "ModifiedBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "ModifiedByUserFullname": "Düzenleyen Ad Soyad"
                        },
                        {
                          "Code": "TIM20-072014-36415",
                          "DocumentTypeId": 5001,
                          "DocumentTypeText": "Üyelik Belgesi",
                          "ExporterCompanyId": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "ExporterCompanyName": "xyz firması",
                          "ExporterCompanyTaxNumber": "0000000222",
                          "BrokerCompanyId": null,
                          "BrokerCompanyName": null,
                          "BrokerCompanyTaxNumber": null,
                          "Description": "",
                          "NotAllowedAssociationNames": null,
                          "Id": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "StatusId": 1,
                          "StatusText": "Aktif",
                          "CreatedOn": "2020-07-20T11:36:34.0356707Z",
                          "CreatedBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "CreatedByUserFullname": "Oluşturan Ad Soyad",
                          "ModifiedOn": "2020-07-20T11:36:36.3882274Z",
                          "ModifiedBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "ModifiedByUserFullname": "Düzenleyen Ad Soyad"
                        }
                      ],
                      "Total": 3,
                      "AggregateResults": null,
                      "Errors": null
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Belgeleri listelemek için kullanılır."
      }
    },
    "/file/get-info/{id}": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "id": "f9c66002-89f4-41a8-9c35-c88272075201",
                        "name": "f9c66002-89f4-41a8-9c35-c88272075201",
                        "realFileName": "test.jpg",
                        "extension": ".jpg",
                        "contentType": "image/jpeg",
                        "size": 13902,
                        "uploadError": null,
                        "ownerId": "849034c7-9bd2-45fc-a063-ed851b24b030",
                        "fileType": 1003,
                        "isTemp": false,
                        "metadata": null,
                        "content": null,
                        "createdOn": "2020-04-22T10:54:02.1954924Z"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Kayıt Bulunamadı",
                      "message": "Ulaşmaya çalıştığınız kaynak bulunamadı. Lütfen erişmeye çalıştığınız adresi kontrol edip tekrar deneyiniz.",
                      "type": "warning",
                      "statusCode": 404
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-file-get-info",
        "description": "Belge id'si yazılarak belirtilen belge bilgileri getirilir."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/file/get-info": {
      "post": {
        "summary": "",
        "operationId": "post-file-get-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "id": "b8a88aca-eeed-4044-909e-25934a4cba73",
                          "name": "b8a88aca-eeed-4044-909e-25934a4cba73",
                          "realFileName": "test.jpg",
                          "extension": ".jpg",
                          "contentType": "image/jpeg",
                          "size": 13902,
                          "uploadError": null,
                          "ownerId": "3490ecf7-9bd2-45fc-a063-ed851b24rrrd",
                          "fileType": 1003,
                          "isTemp": false,
                          "metadata": null,
                          "content": null,
                          "createdOn": "2020-04-22T10:54:02.1954924Z"
                        },
                        {
                          "id": "2c00595e-8262-4afa-ba45-5d0bf6faa174",
                          "name": "2c00595e-8262-4afa-ba45-5d0bf6faa174",
                          "realFileName": "test.jpg",
                          "extension": ".jpg",
                          "contentType": "image/jpeg",
                          "size": 13902,
                          "uploadError": null,
                          "ownerId": "3490ecf7-9bd2-45fc-a063-ed851b24rrrd",
                          "fileType": 1003,
                          "isTemp": false,
                          "metadata": null,
                          "content": null,
                          "createdOn": "2020-04-22T10:54:02.1954924Z"
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "description": "id listesi gönderilerek o id'lere ait dosyaların bilgilerini getirir.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "File id listesi",
                "items": {
                  "type": "string"
                }
              },
              "examples": {
                "example-1": {
                  "value": [
                    "b8a88aca-eeed-4044-909e-25934a4cba73",
                    "2c00595e-8262-4afa-ba45-5d0bf6faa174"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/file/download/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-file-download-id",
        "description": "Dosya indirmek için kullnaılır. {id} yerine indirilmek istenen dosyanın id'si yazılır. Cevap olarak dosya döndürür."
      }
    },
    "/file/upload?ownerId={ownerId}&fileType={fileType]": {
      "post": {
        "summary": "",
        "operationId": "post-file-upload",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": "837d2bde-4c58-4tyh-b426-81e15cfca999",
                        "name": "837d2bde4c584tyhb42681e15cfca999",
                        "realFileName": "test.jpg",
                        "extension": ".jpg",
                        "contentType": "image/jpeg",
                        "size": 4624,
                        "uploadError": null,
                        "ownerId": "weftg56h-7660-4586-a486-c7dc2b63e1f8",
                        "fileType": 1003,
                        "isTemp": false,
                        "metadata": null,
                        "content": null,
                        "createdOn": "2020-08-05T07:55:41.4183355Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable"
          }
        },
        "description": "Dosya yüklemek için kullanılır. Parametre olarak ownerId o dosyalar hangi kayda ait ise o kaydın id'sidir. Örneğin bir vekaletname dosyası ise o vekaletname  kaydının id'si buradaki owner id'dir.fileType ise yüklenen dosyanın tipidir. Dosya tipinin int değerleri aşağıdaki gibidir.\n\nİmza Sirküleri = 1001,\nBaşvuru Dilekçesi = 1002,\nVekaletname = 1003,\nTicaret Sicil Gazetesi = 1004,\nVergi Levhası = 1005\n\nFormdata'dan IFormFile tipinde liste olarak dosyalar gönderilir.\n"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "ownerId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/green-password": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": 2,
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-green-password",
        "description": "Firmanın son 3 yıllık ihracat rakamına göre kaç adet yeşil pasaport alacağı bilgisini getirir. Dönen cevaptaki data değeridir."
      }
    },
    "/get-export-monthly?exportType={exportType}": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": "378.817",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-export-monthly",
        "description": "Firmanın geçen ayki ihracat değerini getirir. İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        }
      ]
    },
    "/get-export-monthly-now?exportType={exportType}": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": "38.817",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-export-monthly-now",
        "description": "Firmanın bu ayki ihracat değerini getirir. İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        }
      ]
    },
    "/get-export-yearly?exportType={exportType}&filter={filter}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "filter",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": "2.373.142",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-export-yearly?exportType=-exportType-&filter=-filter",
        "description": "Girilen yıla göre toplam ihracat değerini getirir. İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır. {filter} değeri ise yıl değeridir. filter değerleri 1, -1, -2, -3 değerlerinden biri olmalıdır. Yıl karşılıkları aşağıdaki gibidir.\n2020 -> 1,\n2019 -> -1,\n2018 -> -2,\n2017 -> -3"
      }
    },
    "/get-kb-price?exportType={exportType}&filter={filter}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "filter",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": "4,88",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-kb-price?exportType=-exportType-&filter=-filter",
        "description": "Firmanın Kg Birim Ürün Satış Fiyatını getirmek için kullanılır.İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır. {filter} değeri ise yıl değeridir. filter değerleri 1, -1, -2, -3 değerlerinden biri olmalıdır. Yıl karşılıkları aşağıdaki gibidir.\n2020 -> 1,\n2019 -> -1,\n2018 -> -2,\n2017 -> -3"
      }
    },
    "/member/list": {
      "post": {
        "summary": "",
        "operationId": "post-member-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-DataSourceResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Data": [
                        {
                          "Name": "abc Firması",
                          "TaxNumber": "1152631123",
                          "TaxRegistrationOffice": "NILÜFER VERGİ DAİRESİ",
                          "ChamberOfCommerce": null,
                          "CommercialRegistrationNumber": null,
                          "CompanyTypeId": 3001,
                          "Category": "DIGER",
                          "CompanyTypeText": "İhracatçı",
                          "CompanyKind": "LIMITED",
                          "LastExportStatsSync": null,
                          "Id": "36ec9e66-b8a3-4b38-9fcd-53cb940c1d28",
                          "StatusId": 1,
                          "StatusText": "Aktif",
                          "CreatedOn": "2020-07-09T12:03:06.3502655Z",
                          "CreatedBy": "10000000-0000-0000-0000-000000000000",
                          "CreatedByUserFullname": null,
                          "ModifiedOn": "2020-07-09T14:36:19.2769738Z",
                          "ModifiedBy": "10000000-0000-0000-0000-000000000000",
                          "ModifiedByUserFullname": "Anonim Kullanıcı"
                        },
                        {
                          "Name": "xyz Firması",
                          "TaxNumber": "1152631122",
                          "TaxRegistrationOffice": "INEGÖL VERGİ DAİRESİ",
                          "ChamberOfCommerce": "INEGOL",
                          "CommercialRegistrationNumber": "9436",
                          "CompanyTypeId": 3001,
                          "Category": "DIGER",
                          "CompanyTypeText": "İhracatçı",
                          "CompanyKind": "LIMITED",
                          "LastExportStatsSync": "2020-07-24T19:37:12.4213452Z",
                          "Id": "db5b8697-719d-44f0-8185-5c1c3cb27eb2",
                          "StatusId": 1,
                          "StatusText": "Aktif",
                          "CreatedOn": "2020-07-09T12:03:07.213929Z",
                          "CreatedBy": "10000000-0000-0000-0000-000000000000",
                          "CreatedByUserFullname": null,
                          "ModifiedOn": "2020-07-09T15:04:41.2324604Z",
                          "ModifiedBy": "10000000-0000-0000-0000-000000000000",
                          "ModifiedByUserFullname": "Anonim Kullanıcı"
                        }
                      ],
                      "Total": 2,
                      "AggregateResults": null,
                      "Errors": null
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Üye firmaları listelemek için kullanılır."
      }
    },
    "/power-of-attorney/getFiles/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": "957175fe-4358-4cd1-99c2-0de415eeba6a",
                        "name": "957175fe43584cd199c20de415eeba6a",
                        "realFileName": "ay.jpg",
                        "extension": ".jpg",
                        "contentType": "image/jpeg",
                        "size": 4624,
                        "uploadError": null,
                        "ownerId": "90fa6485-b81f-4223-9b7c-182630d93fa7",
                        "fileType": 1003,
                        "isTemp": false,
                        "metadata": null,
                        "content": "/APDUREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBE==",
                        "createdOn": "2020-07-16T08:50:04.644913Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-power-of-attorney-getFiles-id",
        "description": "{id} değeri yerine vekaletname kaydının id'si yazıldığında o vekaletnameye ait dosyaların bilgilerini getirir."
      }
    },
    "/user/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "fullName": "Ad Soyad",
                        "identityNumber": "11111111111",
                        "statusId": 1,
                        "statusText": "Aktif",
                        "lastLoginDate": "2020-07-27T07:35:11.4228625Z",
                        "shouldChangePassword": true,
                        "associationId": null,
                        "associationName": null,
                        "selectedCompanyId": "31b8e5a3-9b00-4697-a4ea-1895073024ef",
                        "companyName": null,
                        "companyType": 0,
                        "userTypeId": 4006,
                        "branchOffice": null,
                        "userTypeText": "Firma Kullanıcısı",
                        "createdOn": "2020-06-03T16:11:01.0303386Z",
                        "createdBy": "10000000-0000-0000-0000-000000000000",
                        "createdByUserFullname": "Anonim Kullanıcı",
                        "modifiedOn": "2020-06-03T16:11:01.0303399Z",
                        "modifiedBy": "10000000-0000-0000-0000-000000000000",
                        "modifiedByUserFullname": "Anonim Kullanıcı",
                        "password": null,
                        "newPassword": null,
                        "id": "c32c79f6-e46a-4a87-9a81-5bfda763f322",
                        "userName": "test@tim.org.tr",
                        "normalizedUserName": "TEST@TIM.ORG.TR",
                        "email": "test@tim.org.tr",
                        "normalizedEmail": "TEST@TIM.ORG.TR",
                        "emailConfirmed": false,
                        "passwordHash": null,
                        "securityStamp": null,
                        "concurrencyStamp": "1e39efdc-0919-48b1-96e5-153d24b56166",
                        "phoneNumber": "0(533) 727 36 39",
                        "phoneNumberConfirmed": false,
                        "twoFactorEnabled": false,
                        "lockoutEnd": null,
                        "lockoutEnabled": false,
                        "accessFailedCount": 0
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-user-id",
        "description": "Kullanıcı id'si {id} alanına girilerek kullanıcının bilgileri getirilir."
      }
    },
    "/user/list": {
      "post": {
        "summary": "",
        "operationId": "post-user-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-DataSourceResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Data": [
                        {
                          "FullName": "Ad Soyad",
                          "IdentityNumber": "00023654855",
                          "StatusId": 1,
                          "StatusText": "Aktif",
                          "LastLoginDate": "2020-07-10T13:44:13.4237357Z",
                          "ShouldChangePassword": true,
                          "AssociationId": null,
                          "AssociationName": null,
                          "SelectedCompanyId": "1e39efdc-0919-48b1-96e5-153d24b56166",
                          "CompanyName": null,
                          "CompanyType": 0,
                          "UserTypeId": 4007,
                          "BranchOffice": null,
                          "UserTypeText": "Gümrük Müşaviri Kullanıcısı",
                          "CreatedOn": "2020-07-10T13:21:31.9442131Z",
                          "CreatedBy": "10000000-0000-0000-0000-000000000000",
                          "CreatedByUserFullname": "Adı Soyadı",
                          "ModifiedOn": "2020-07-10T13:21:31.9443453Z",
                          "ModifiedBy": "10000000-0000-0000-0000-000000000000",
                          "ModifiedByUserFullname": "Adı Soyadı",
                          "Password": null,
                          "NewPassword": null,
                          "Id": "dcb7c6ea-8533-4d49-8e1d-da92000c2154",
                          "UserName": "test@gmail.com",
                          "NormalizedUserName": "test@GMAIL.COM",
                          "Email": "test@gmail.com",
                          "NormalizedEmail": "test@GMAIL.COM",
                          "EmailConfirmed": false,
                          "PasswordHash": null,
                          "SecurityStamp": null,
                          "ConcurrencyStamp": "2897863d-35e5-46f2-a610-90545c8fe967",
                          "PhoneNumber": "0(545) 555 55 55",
                          "PhoneNumberConfirmed": false,
                          "TwoFactorEnabled": false,
                          "LockoutEnd": null,
[...]
