{
  "openapi": "3.0.0",
  "info": {
    "title": "Online İşlemler API v1.0.1",
    "version": "1.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://online.tim.org.tr/api/v1"
    }
  ],
  "paths": {
    "/account/login": {
      "post": {
        "summary": "Login Olma",
        "operationId": "post-login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "email",
                        "fullName",
                        "accessToken",
                        "refreshToken",
                        "expires"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Kullanıcı Id'si"
                        },
                        "email": {
                          "type": "string",
                          "description": "Kullanıcı email adresi"
                        },
                        "fullName": {
                          "type": "string",
                          "description": "Kullanıcı adı soyadı"
                        },
                        "accessToken": {
                          "type": "string",
                          "description": "JWT anahtarı"
                        },
                        "refreshToken": {
                          "type": "string",
                          "description": "JWT yenileme anahtarı"
                        },
                        "expires": {
                          "type": "string",
                          "description": "JWT sona erme tarihi"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": {
                        "id": "03c5e326-a96c-4572-aea0-5d6490f60561",
                        "email": "test@tim.org.tr",
                        "fullName": "Tim",
                        "accessToken": "1234",
                        "refreshToken": "asdedfertr=",
                        "expires": "2020-08-06T20:22:26.1313761Z"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Kullanıcının erişim yetkisinin bulunmadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Hatalı kullanıcı adı ya da şifre girdiniz",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Kullanıcının sisteme login olurken kullanması gereken api endpointtir.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-LoginRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "username": "user@tim.org.tr",
                    "password": "password"
                  }
                }
              }
            }
          },
          "description": "Login olurken gönderilmesi gereken parametrelerdir."
        },
        "tags": [
          "Authorization"
        ]
      },
      "parameters": []
    },
    "/account/token/refresh": {
      "parameters": [],
      "post": {
        "summary": "JWT(Json Web Token) Yenileme",
        "operationId": "post-account-token-refresh",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Kullanıcı Id'si"
                        },
                        "email": {
                          "type": "string",
                          "description": "Kullanıcı email adresi"
                        },
                        "fullName": {
                          "type": "string",
                          "description": "Kullanıcı adı soyadı"
                        },
                        "accessToken": {
                          "type": "string",
                          "description": "JWT anahtarı"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "expires": {
                          "type": "string",
                          "description": "JWT sona erme tarihi"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "fullName",
                        "accessToken",
                        "refreshToken",
                        "expires"
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": {
                        "id": "03c5e326-a96c-4572-aea0-5d6490f60561",
                        "email": "test@tim.org.tr",
                        "fullName": "Tim",
                        "accessToken": "1234",
                        "refreshToken": "qweesasdedfertr=",
                        "expires": "2020-08-06T20:22:26.1313761Z"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Gone - Belirtilen kullanıcıya ait yanlış refreshToken değeri gönderildiğinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Invalid Refresh Token",
                      "type": "danger",
                      "statusCode": 410
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Yeni bir JWT(Json Web Token) anahtarı almak için kullanılır. ",
        "tags": [
          "Authorization"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "description": "Login olma işleminden sonra dönen refreshToken değeri"
                  }
                },
                "required": [
                  "refreshToken"
                ]
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "refreshToken": "asdedfertr="
                  }
                }
              }
            }
          },
          "description": "Login isteğinden sonra dönen cevaptaki refreshToken değeri gönderilmelidir."
        }
      }
    },
    "/account/forgot-password": {
      "post": {
        "summary": "Şifre Sıfırlama",
        "operationId": "post-account-forgot-password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Şifre sıfırlama maili gönderilecek e-posta adresi",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "email": "test@test.com"
                  }
                }
              }
            }
          },
          "description": "Şifre sıfırlama mailinin gönderilmesi için gerekli parametrelerdir."
        },
        "description": "Şifre unutma durumunda şifre sıfırlamak için mail gönderir.",
        "tags": [
          "Authorization"
        ]
      }
    },
    "/account/change-password": {
      "post": {
        "summary": "Şifre Değiştirme",
        "operationId": "post-account-change-password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "title": "Bir Hata Oluştu",
                      "success": false,
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-ChangePasswordRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "id": "3db2afb7-6758-4d86-a2b9-4684dbb5c791",
                    "oldPassword": "oldPass",
                    "newPassword": "newPass12!",
                    "verifyNewPassword": "newPass12!"
                  }
                }
              }
            }
          },
          "description": "Şifre değiştirme işlemi için gönderilecek parametrelerdir."
        },
        "description": "Kullanıcının şifre değiştirmesi için kullanılan api endpointtir.",
        "tags": [
          "Authorization"
        ]
      }
    },
    "/account/reset-password": {
      "post": {
        "summary": "Şifre Oluşturma",
        "operationId": "post-account-reset-password",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "417": {
            "description": "Expectation Failed - Geçersiz token veya id gönderilmesi durumunda dönen cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "title": "Bir Hata Oluştu",
                      "success": false,
                      "type": "danger",
                      "statusCode": 417
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "title": "Bir Hata Oluştu",
                      "success": false,
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-ResetPasswordRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "uid": "Kodlanmış şifre oluşturulacak kullanıcı id'si",
                    "token": "Kodlanmış Token anahtarı",
                    "newPassword": "newPass12!",
                    "verifyPassword": "newPass12!"
                  }
                }
              }
            }
          },
          "description": "Şifre oluşturmak için gönderilen parametrelerdir."
        },
        "description": "Kullanıcı şifresinin oluşturulmasını sağlar.",
        "tags": [
          "Authorization"
        ]
      }
    },
    "/power-of-attorney/list": {
      "parameters": [],
      "post": {
        "summary": "Vekaletname Listeleme",
        "operationId": "post-action-log-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Getirilen toplam kayıt sayısını belirtir."
                    },
                    "data": {
                      "type": "array",
                      "description": "Getirilen dataların listesi",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exporterId": {
                            "type": "string",
                            "description": "İhracatçı firma Id'si"
                          },
                          "exporterName": {
                            "type": "string",
                            "description": "İhracatçı firma unvanı"
                          },
                          "exporterTaxNumber": {
                            "type": "string",
                            "description": "İhracatçı firma vergi numarası"
                          },
                          "brokerId": {
                            "type": "string",
                            "description": "Gümrük müşaviri firma Id'si"
                          },
                          "brokerName": {
                            "type": "string",
                            "description": "Gümrük müşaviri firma unvanı"
                          },
                          "brokerTaxNumber": {
                            "type": "string",
                            "description": "Gümrük müşaviri firma vergi numarası"
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Vekaletname başlangıç tarihi"
                          },
                          "expireDate": {
                            "type": "string",
                            "description": "Vekaletname başlangıç geçerlilik tarihi"
                          },
                          "expired": {
                            "type": "boolean",
                            "description": "Vekaletname geçerliliği varsa true yoksa false değerdedir"
                          },
                          "statusText": {
                            "type": "string",
                            "description": "Süresi dolmuş bir vekaletname ise 'Süresi Dolmuş' değilse 'Geçerli' değeri alır."
                          },
                          "notaryName": {
                            "type": "string",
                            "description": "Vekaletnameyi onaylayan noter adı"
                          },
                          "notaryApprovalCode": {
                            "type": "string",
                            "description": "Vekaletname noter onay kodu"
                          },
                          "notaryApprovalDate": {
                            "type": "string",
                            "description": "Vekaletname noter onay tarihi"
                          },
                          "associationCode": {
                            "type": "integer",
                            "description": "Vekaletnameyi tanımlayan birlik kodu"
                          },
                          "membershipAssociationCode": {
                            "type": "integer",
                            "description": "Vekaletnamenin tanımlı olduğu ihracatçı firmanın üyesi olduğu birlik kodu"
                          },
                          "parentAssociationCode": {
                            "type": "integer",
                            "description": "Vekaletnamenin tanımlı olduğu ihracatçı firmanın üyesi olduğu genel sekreterlik kodu"
                          }
                        },
                        "required": [
                          "exporterId",
                          "exporterName",
                          "exporterTaxNumber",
                          "brokerId",
                          "brokerName",
                          "brokerTaxNumber",
                          "startDate",
                          "expireDate",
                          "expired",
                          "statusText"
                        ]
                      }
                    }
                  },
                  "required": [
                    "total"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": [
                        {
                          "exporterId": "e1eb7c04-a040-a54e-af36-3ffc9aa2406b",
                          "exporterName": "VE ALEMDAR ARŞİV YÖNETİM DANIŞMANLIK TİCARET LİMİTED ŞİRKETİ",
                          "exporterTaxNumber": "9240786879",
                          "brokerId": "79e86c65-1b30-344e-8ee4-a54ab556ba93",
                          "brokerName": "AB GÜMRÜK MÜŞAVİRLİĞİ VE DANIŞMANLIK A.Ş.",
                          "brokerTaxNumber": "0010784289",
                          "startDate": "2019-07-09T00:00:00",
                          "expireDate": "2020-07-07T00:00:00",
                          "expired": true,
                          "statusText": "Süresi Dolmuş",
                          "notaryName": null,
                          "notaryApprovalCode": null,
                          "notaryApprovalDate": null,
                          "associationCode": 0,
                          "membershipAssociationCode": 0,
                          "parentAssociationCode": 0
                        },
                        {
                          "exporterId": "632f054f-02ad-5e41-a393-adad93737bb9",
                          "exporterName": "SELTEKNİK MÜHENDİSLİK MAKİNA SANAYİ VE TİCARET LİMİTED ŞİRKETİ",
                          "exporterTaxNumber": "7600503054",
                          "brokerId": "418cd8e0-e1b9-2c41-adac-126a0755d8e7",
                          "brokerName": "ARMA GÜMRÜK MÜŞV.LTD.ŞTİ.",
                          "brokerTaxNumber": "0790354480",
                          "startDate": "2017-08-09T00:00:00",
                          "expireDate": "2020-07-07T00:00:00",
                          "expired": true,
                          "statusText": "Süresi Dolmuş",
                          "notaryName": null,
                          "notaryApprovalCode": null,
                          "notaryApprovalDate": null,
                          "associationCode": 0,
                          "membershipAssociationCode": 0,
                          "parentAssociationCode": 0
                        }
                      ],
                      "total": 2
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "description": "Vekaletnameleri listelemek için kullanılır.",
        "tags": [
          "Vekaletname İşlemleri"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "page": 1,
                    "pageSize": 20,
                    "sorts": [
                      {
                        "fieldName": "CreatedOn",
                        "sortDirection": -1
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Vekaletname listeleme için gönderilmesi gereken parametrelerdir."
        }
      }
    },
    "/power-of-attorney/request-complete": {
      "post": {
        "summary": "Vekaletname Talebi Oluşturma",
        "operationId": "post-power-of-attorney-request-complete",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "İşleminizi gerçekleştirirken beklenmedik bir hata oluştu. Bu nedenle işleminiz tamamlanamamıştır.",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Yeni bir vekaletname talebi oluşturmak için kullanılır.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exporterCompanyTaxNumber": {
                    "type": "string",
                    "description": "Vekaletname veren firma vergi numarası"
                  },
                  "brokerCompanyTaxNumber ": {
                    "type": "string",
                    "description": "Vekaletname verilen gümrük müşaviri firma vergi numarası"
                  },
                  "expiresOn": {
                    "type": "string",
                    "description": "Vekaletname geçerlilik tarihi"
                  },
                  "notaryName": {
                    "type": "string",
                    "description": "Noter adı"
                  },
                  "notaryApprovalDate": {
                    "type": "string",
                    "description": "Noter onay tarihi"
                  },
                  "notaryApprovalNo": {
                    "type": "string",
                    "description": "Noter onay no"
                  },
                  "files": {
                    "type": "array",
                    "description": "Yüklenen vekaletname dosyalarının id listesi",
                    "items": {
                      "type": "string"
                    }
                  },
                  "associationId": {
                    "type": "string",
                    "description": "Talebin onaya gönderileceği birlik id'si"
                  },
                  "id": {
                    "type": "string",
                    "description": "Vekaletname id'si"
                  }
                },
                "required": [
                  "expiresOn",
                  "files",
                  "associationId",
                  "id"
                ]
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "id": "31b8e5a3-9b00-4697-a4ea-1895073024ef",
                    "expiresOn": "2020-12-30T21:00:00Z",
                    "brokerCompanyTaxNumber": "0987654321",
                    "exporterCompanyTaxNumber": null,
                    "associationId": "34567890-9b00-4697-a4ea-1895073024ef",
                    "notaryName": "John Doe",
                    "notaryApprovalDate": "2019-12-30T21:00:00Z",
                    "notaryApprovalNo": "1234",
                    "files": [
                      "2cb28d08-d46b-4376-8eda-6d4250cfc323",
                      "8c1ae659-b649-4cc4-a675-0855363f09fa"
                    ]
                  }
                },
                "Örnek 2": {
                  "value": {
                    "id": "31b8e5a3-9b00-4697-a4ea-1895073024ef",
                    "expiresOn": "2020-12-30T21:00:00Z",
                    "associationId": "34567890-9b00-4697-a4ea-1895073024ef",
                    "brokerCompanyTaxNumber": null,
                    "exporterCompanyTaxNumber": "0987654321",
                    "notaryName": "John Doe",
                    "notaryApprovalDate": "2019-12-30T21:00:00Z",
                    "notaryApprovalNo": "1234",
                    "files": [
                      "8c1ae659-b649-4cc4-a675-0855363f09fa",
                      "2cb28d08-d46b-4376-8eda-6d4250cfc323"
                    ]
                  }
                }
              }
            }
          },
          "description": "Request gönderirken brokerCompanyTaxNumber veya exporterCompanyTaxNumber alanlarından sadece bir tanesi dolu olmalıdır. Eğer bu vekaletname talebini gönderen bir ihracatçı firma ise brokerCompanyTaxNumber(gümrük müşaviri vergi numarası) dolu olmalıdır. Eğer bu vekaletname talebini gönderen bir gümrük müşaviri ise exporterCompanyTaxNumber(ihracatçı firma vergi numarası)  dolu olmalıdır. Ayrıca yeni bir request gönderirken o vekaletname kaydına ait yeni bir id oluşturmak gerekir. (Yüklenen dosyalar ile ilişkilendirilebilmesi için id'yi oluşturmak gerekiyor.)\n"
        },
        "tags": [
          "Vekaletname İşlemleri"
        ]
      }
    },
    "/approval-request/list": {
      "post": {
        "summary": "Talep Listeleme",
        "operationId": "post-approval-request-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Getirilen toplam kayıt sayısını belirtir."
                    },
                    "data": {
                      "type": "array",
                      "description": "Kayıtlar burada listeenir.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Talep kodu"
                          },
                          "requestTypeId": {
                            "type": "integer",
                            "description": "Talep tipi kodu"
                          },
                          "requestTypeText": {
                            "type": "string",
                            "description": "Talep tipi açıklaması"
                          },
                          "exporterCompanyId": {
                            "type": "string",
                            "description": "Talepteki ihracatçı firma Id'si"
                          },
                          "exporterCompanyName": {
                            "type": "string",
                            "description": "Talepteki ihracatçı firma adı"
                          },
                          "exporterCompanyTaxNumber": {
                            "type": "string",
                            "description": "Telepteki ihracatçı firmanın vergi numarası"
                          },
                          "brokerCompanyId": {
                            "type": "string",
                            "description": "Talepteki gümrük müşaviri firma Id'si"
                          },
                          "brokerCompanyName": {
                            "type": "string",
                            "description": "Talepteki gümrük müşaviri firma adı"
                          },
                          "brokerCompanyTaxNumber": {
                            "type": "string",
                            "description": "Talepteki gümrük müşaviri firma vergi numarası"
                          },
                          "rejectReason": {
                            "type": "string",
                            "description": "Talep red nedeni"
                          },
                          "requestedByName": {
                            "type": "string",
                            "description": "Talep edenin adı soyadı"
                          },
                          "requestedByEmail": {
                            "type": "string",
                            "description": "Talep edenin email adresi"
                          },
                          "requestUpdatedByName": {
                            "type": "string",
                            "description": "Talebi kimin onayladığını veya reddettiğini gösterir"
                          },
                          "approvalData": {
                            "type": "object",
                            "description": "Her talep tipine göre bu değer değişkendir."
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "total",
                    "data"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": [
                        {
                          "code": "TIM20-000000-00000",
                          "requestTypeId": 2006,
                          "requestTypeText": "Vekaletname Tanımlama",
                          "associationId": "3d622ab4-0241-4925-9ec9-349089cb3292",
                          "parentAssociationId": "6cfca85a-6a30-4026-a684-dfa53229e6db",
                          "exporterCompanyId": "3db2afb7-6758-4d86-a2b9-4684dbb5c791",
                          "exporterCompanyName": "X Firması",
                          "exporterCompanyTaxNumber": "0000000011",
                          "brokerCompanyId": "99096fcb-d1a9-4369-868a-ef1377591de5",
                          "brokerCompanyName": "xyz Gümrük Müşavirliği",
                          "brokerCompanyTaxNumber": "1100000000",
                          "isRequestedByBroker": true,
                          "rejectReason": null,
                          "requestedByName": "Talep Eden Ad Soyad",
                          "requestedByEmail": "test@test.com",
                          "requestedByIdentityNumber": "00000000000",
                          "requestedByGsm": "0(555) 555 55 55",
                          "requestUpdatedByName": null,
                          "approvalData": {
                            "associationId": "3d622ab4-0241-4925-9ec9-349089cb3292",
                            "brokerTaxNumber": "1100000000",
                            "exporterTaxNumber": "0000000011",
                            "startDate": "0001-01-01T00:00:00",
                            "expireDate": "2020-08-17T00:00:00",
                            "notaryName": "Noter adı",
                            "notaryApprovalDate": null,
                            "notaryApprovalCode": "",
                            "city": null,
                            "files": [
                              "7bab5d6d-7668-495f-a8c0-010f4aed9027"
                            ]
                          },
                          "id": "4a3d2ddd-7ccc-4996-9411-8c08102ebeec",
                          "statusId": 2102,
                          "statusText": "Onay Bekliyor",
                          "createdOn": "2020-08-21T13:52:00.6989258Z",
                          "createdBy": "dfda5505-5c10-45a5-b7aa-c238ff7aed35",
                          "createdByUserFullname": "Oluşturan Ad Soyad",
                          "modifiedOn": "2020-08-21T13:52:00.6982213Z",
                          "modifiedBy": "dfda5505-5c10-45a5-b7aa-c238ff7aed35",
                          "modifiedByUserFullname": "Düzenleyen Ad Soyad"
                        },
                        {
                          "code": "TIM20-000000-00000",
                          "requestTypeId": 2003,
                          "requestTypeText": "Üye Bilgisi Güncelleme - Kanuni Merkez Değişikliği",
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "parentAssociationId": null,
                          "exporterCompanyId": "3db2afb7-6758-4d86-a2b9-4684dbb5c791",
                          "exporterCompanyName": "X  Firması",
                          "exporterCompanyTaxNumber": "0000000000",
                          "brokerCompanyId": null,
                          "brokerCompanyName": null,
                          "brokerCompanyTaxNumber": null,
                          "isRequestedByBroker": false,
                          "rejectReason": null,
                          "requestedByName": "test",
                          "requestedByEmail": "test@test.com",
                          "requestedByIdentityNumber": "00000000000",
                          "requestedByGsm": "0(555) 555 55 55",
                          "requestUpdatedByName": "X KİŞİSİ- Uludağ İhracatçı Birlikleri Genel Sekreterliği",
                          "approvalData": {
                            "name": null,
                            "city": "BURSA",
                            "county": "NİLÜFER",
                            "district": "mahalle",
                            "country": "TÜRKİYE",
                            "zipCode": "16110",
                            "address1": "adres1",
                            "address2": "adres2",
                            "address": "adres1 adres2 mahalle 16110 NİLÜFER, BURSA, TÜRKİYE",
                            "entityId": "64b84d27-0a7e-4124-8704-0cc2780e8102",
                            "files": [
                              "4a94d9bb-0a15-40b1-a0f4-375dc5f9758f"
                            ],
                            "oldValue": {
                              "name": "MERKEZ",
                              "city": "BURSA",
                              "county": "NİLÜFER",
                              "district": null,
                              "country": "TÜRKİYE",
                              "zipCode": "16110",
                              "address1": "adres",
                              "address2": null,
                              "address": "adres 16110 NİLÜFER, BURSA, TÜRKİYE",
                              "entityId": "64b84d27-0a7e-4124-8704-0cc2780e8102",
                              "files": null
                            }
                          },
                          "id": "8d6fca1f-83b3-419b-85d1-e3dc43c09fc3",
                          "statusId": 2108,
                          "statusText": "Onaylandı",
                          "createdOn": "2020-08-04T11:25:12.379545Z",
                          "createdBy": "ced2f4b1-32a2-49f3-b559-184aa911f6c4",
                          "createdByUserFullname": "test",
                          "modifiedOn": "2020-08-14T11:32:31.7378979Z",
                          "modifiedBy": "ced2f4b1-32a2-49f3-b559-184aa911f6c4",
                          "modifiedByUserFullname": "test"
                        }
                      ],
                      "total": 2
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Onay bekleyen talepleri listelemek için kullanılır.",
        "tags": [
          "Talep İşlemleri"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "page": 2,
                    "pageSize": 20,
                    "sorts": [
                      {
                        "fieldName": "StatusId",
                        "sortDirection": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Talep listeleme için gönderilmesi gereken parametrelerdir."
        }
      }
    },
    "/approval-request/set-status": {
      "post": {
        "summary": "Talep Onay/Red",
        "operationId": "post-approval-request-set-status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Onaylamaya çalıştığınız talep sistemde bulunamadı. Talep başkası tarafından onaylanmış/reddedilmiş ya da silinmiş olabilir.",
                      "type": "danger",
                      "statusCode": 422
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Bekleyen bir onay talebini onaylamak veya reddetmek için kullanılır.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Bekleyen talep id'si"
                  },
                  "approve": {
                    "type": "boolean",
                    "description": "Talep onaylanırsa true, reddedilirse false olarak döndürülmeli."
                  },
                  "rejectReason": {
                    "type": "string",
                    "description": "Talep reddedilirse bunun nedeni yazılmalı."
                  }
                },
                "required": [
                  "id",
                  "approve"
                ]
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "id": "8c8c2aba-6f91-4ec5-b595-17737471a948",
                    "approve": true
                  }
                },
                "Örnek 2": {
                  "value": {
                    "id": "8c8c2aba-6f91-4ec5-b595-17737471a948",
                    "approve": false,
                    "rejectReason": "Talep uygun değil"
                  }
                }
              }
            }
          },
          "description": "Bekleyen bir talebi onaylamak veya reddetmek için gönderilen parametrelerdir."
        },
        "tags": [
          "Talep İşlemleri"
        ]
      }
    },
    "/company/get-company-memberships": {
      "get": {
        "summary": "Firma Üyelikleri Listeleme",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Firmanın üye olduğu birlik listesi",
                      "items": {
                        "type": "object",
                        "properties": {
                          "registrationNumber": {
                            "type": "integer",
                            "description": "Üye olduğu birliğin sicil numarası"
                          },
                          "registrationDate": {
                            "type": "string",
                            "description": "Üyelik tarihi"
                          },
                          "canGetMembershipDocument": {
                            "type": "boolean",
                            "description": "Firmanın birlikten belge alıp alamayacağını belirtir."
                          },
                          "associationId": {
                            "type": "string",
                            "description": "Birlik id'si"
                          },
                          "associationName": {
                            "type": "string",
                            "description": "Birlik adı"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Birlik Telefon Numarası"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": [
                        {
                          "registrationNumber": 1,
                          "registrationDate": "15.10.1998",
                          "canGetMembershipDocument": false,
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "associationName": "İstanbul Demir ve Demirdışı Metaller İhracatçıları Birliği",
                          "phoneNumber": "0(212) 454 00 00"
                        },
                        {
                          "registrationNumber": 2,
                          "registrationDate": "30.07.2002",
                          "canGetMembershipDocument": false,
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "associationName": "Makine ve Aksamları İhracatçıları Birliği ",
                          "phoneNumber": "0(312) 447 27 40"
                        },
                        {
                          "registrationNumber": 3,
                          "registrationDate": "29.12.1998",
                          "canGetMembershipDocument": false,
                          "associationId": "00000000-0000-0000-0000-000000000000",
                          "associationName": "Otomotiv Endüstrisi İhracatçıları Birliği",
                          "phoneNumber": "0(224) 219 10 00"
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden- Kullanıcının erişim yetkisinin bulunmadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-company-memberships",
        "description": "Firmanın üye olduğu birlikleri getirir.",
        "tags": [
          "Firma İşlemleri"
        ]
      }
    },
    "/company/get-debts": {
      "get": {
        "summary": "Firma Borç Bilgilerini Getirme",
        "tags": [
          "Firma İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "cariYilAidatBorclari": {
                          "type": "array",
                          "description": "Cari yıl aidat borçlarını listeler.",
                          "items": {
                            "$ref": "#/components/schemas/company-EBirlikMembershipDue"
                          }
                        },
                        "nispiAidatBorclari": {
                          "type": "array",
                          "description": "Nispi aidat boçlarını listeler.",
                          "items": {
                            "$ref": "#/components/schemas/company-EBirlikMembershipDue"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": {
                        "cariYilAidatBorclari": [
                          {
                            "associationName": "Birlik Adı",
                            "associationCode": 1,
                            "amount": 102.5,
                            "year": 0,
                            "delayHike": 0
                          }
                        ],
                        "nispiAidatBorclari": [
                          {
                            "associationName": "Birlik Adı",
                            "AssociationCode": 1,
                            "amount": 102.5,
                            "year": 2020,
                            "delayHike": 55
                          }
                        ]
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden- Kullanıcının erişim yetkisinin bulunmadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-company-get-debts",
        "description": "Firmanın cari yıl aidat borçları ve nispi aidat borçlarını getirmek için kullanılır."
      }
    },
    "/document-request/download?id={id}": {
      "get": {
        "summary": "Belge Dosyası İndirme",
        "tags": [
          "Belge Talebi İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK - Cevap olarak dosya döndürür."
          },
          "403": {
            "description": "Forbidden- Kullanıcının erişim yetkisinin bulunmadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-document-request-download",
        "description": "{id} parametresine belgenin id'si girilerek belirtilen belgenin indirilmesi sağlanır. Cevap olarak dosya döndürür."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/document-request/create-document/{documentType}?associationId={associationId}&period={period}&lang={lang}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "documentType",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "associationId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "period",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "lang",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Belge Oluşturma",
        "tags": [
          "Belge Talebi İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Belge kodu"
                        },
                        "documentTypeId": {
                          "type": "integer",
                          "description": "Belge tipi kodu"
                        },
                        "documentTypeText": {
                          "type": "string",
                          "description": "Belge tipi açıklaması"
                        },
                        "exporterCompanyId": {
                          "type": "string",
                          "description": "Belgeyi alan firma id'si"
                        },
                        "exporterCompanyName": {
                          "type": "string",
                          "description": "Belgeyi alan firma adı"
                        },
                        "exporterCompanyTaxNumber": {
                          "type": "string",
                          "description": "Belgeyi alan firma vergi numarası"
                        },
                        "description": {
                          "type": "string",
                          "description": "Belge açıklaması"
                        },
                        "id": {
                          "type": "string",
                          "description": "Belge id'si"
                        },
                        "statusId": {
                          "type": "integer",
                          "description": "Belge durum kodu"
                        },
                        "statusText": {
                          "type": "string",
                          "description": "Belge durum açıklaması"
                        },
                        "createdOn": {
                          "type": "string",
                          "description": "Belgenin oluşturulma tarihi"
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "Belgeyi oluşturan kullanıcı id'si"
                        },
                        "modifiedOn": {
                          "type": "string",
                          "description": "Belge güncelleme tarihi"
                        },
                        "modifiedBy": {
                          "type": "string",
                          "description": "Belgeyi güncelleyen kullanıcı id'si"
                        },
                        "modifiedByUserFullname": {
                          "type": "string",
                          "description": "Belgeyi güncelleyen kullanıcı adı"
                        },
                        "createdByUserFullname": {
                          "type": "string",
                          "description": "Belgeyi oluşturan kullanıcı adı"
                        }
                      },
                      "required": [
                        "code",
                        "documentTypeId",
                        "exporterCompanyId",
                        "exporterCompanyName",
                        "exporterCompanyTaxNumber",
                        "id",
                        "statusId",
                        "createdOn",
                        "createdBy",
                        "modifiedOn",
                        "modifiedBy"
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": {
                        "code": "TIM20-000000-11111",
                        "documentTypeId": 5001,
                        "documentTypeText": "Üyelik Belgesi",
                        "exporterCompanyId": "8c071561-9ad2-dca2-e040-a8c0e7014ad3",
                        "exporterCompanyName": "A Firması",
                        "exporterCompanyTaxNumber": "1111111112",
                        "description": "",
                        "id": "24f8f71b-5bd5-4dbf-a48a-e50b683e65ee",
                        "statusId": 1,
                        "statusText": "Aktif",
                        "createdOn": "2020-08-04T20:22:26.1313761Z",
                        "createdBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                        "createdByUserFullname": "Anonim",
                        "modifiedOn": "2020-08-04T20:22:32.174192Z",
                        "modifiedBy": "d363ee5e-644b-4d9f-97af-8a53f4d1f56d",
                        "modifiedByUserFullname": "Anonim"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request -  Belge oluşturma servisi hata döndürdüğünde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Belge oluşturma servisinde bir hata oluştu.",
                      "type": "danger",
                      "statusCode": 400
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Gönderilen verinin işlem yapmaya uygun olmaması halinde alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Bir Hata Oluştu",
                      "message": "Lütfen belge yazısının alınacağı birliği seçiniz.",
                      "type": "danger",
                      "statusCode": 500
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-document-request-create-document-documentType",
        "description": "Yeni bir belge oluşturmak için kullanılır. {documentType} yerine hangi belge türü oluşturulacak ise onun int tipinde değeri yazılır. Girilmesi zorunludur.\n-Üyelik belgesi -> 5001, \n-Üye Bilgi Yazısı -> 5002, \n-Performans ve Güvenilirlik Belgesi -> 5003,\n-3 Yıllık İhracat Raporu -> 5004.\n\nEğer Üyelik bilgi yazısı ise {associationId} ve {lang} değerleri gönderilmelidir.\n{associationId} parametresi bilgi yazısının alınacağı birliğin id'sidir.\n{lang} parametresi bilgi yazısının hangi dilde alınacağının belirtildiği parametredir.{lang} parametresinin alabileceği değerler ar, de, en, es, fr, it, ja, ru, zh olmalıdır.\n\nPerformans belgesi ise {associationId} ve {period} değeri gönderilmelidir. \nPeriod değerleri (Her ay değişir. Ağustos 2020 ayını baz alırsak aşağıdaki değerler gönderilmelidir.):\n-2 yıl önce bulunduğumuz ayın 1'i (01.08.2018)\n-2 yıl 1 ay önceki ayın 1'i (01.07.2018)\n-2 yıl 2 ay önceki ayın 1'i (01.06.2018)\ndeğerleri belgenin başlangıç tarihi parantez şeklindeki hali ile gönderilir."
      }
    },
    "/document-request/list": {
      "post": {
        "summary": "Belge Listeleme",
        "operationId": "post-document-request-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Getirilen toplam kayıt sayısını belirtir."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Belge Kodu"
                          },
                          "documentTypeId": {
                            "type": "integer",
                            "description": "Belge tipi kodu"
                          },
                          "documentTypeText": {
                            "description": "Belge tipi açıklaması",
                            "type": "string"
                          },
                          "exporterCompanyId": {
                            "type": "string",
                            "description": "Belgeyi alan firma id'si"
                          },
                          "exporterCompanyName": {
                            "type": "string",
                            "description": "Belgeyi alan firma adı"
                          },
                          "exporterCompanyTaxNumber": {
                            "type": "string",
                            "description": "Belgeyi alan firma vergi numarası"
                          },
                          "id": {
                            "type": "string",
                            "description": "Belge id'si"
                          },
                          "statusId": {
                            "type": "integer",
                            "description": "Belge durum kodu"
                          },
                          "statusText": {
                            "type": "string",
                            "description": "Belge durum açıklaması"
                          },
                          "createdOn": {
                            "type": "string",
                            "description": "Belgenin oluşturulma tarihi"
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Belgeyi oluşturan kullanıcı id'si"
                          },
                          "createdByUserFullname": {
                            "type": "string",
                            "description": "Belgeyi oluşturan kullanıcı adı"
                          },
                          "modifiedOn": {
                            "type": "string",
                            "description": "Belge güncelleme tarihi"
                          },
                          "modifiedBy": {
                            "type": "string",
                            "description": "Belgeyi güncelleyen kullanıcı id'si"
                          },
                          "modifiedByUserFullname": {
                            "type": "string",
                            "description": "Belgeyi güncelleyen kullanıcı adı"
                          },
                          "description": {
                            "type": "string",
                            "description": "Belge açıklaması"
                          }
                        },
                        "required": [
                          "code",
                          "documentTypeId",
                          "exporterCompanyId",
                          "exporterCompanyName",
                          "exporterCompanyTaxNumber",
                          "id",
                          "statusId",
                          "createdOn",
                          "createdBy",
                          "modifiedOn",
                          "modifiedBy"
                        ]
                      }
                    }
                  },
                  "required": [
                    "total"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": [
                        {
                          "code": "TIM20-072014-42802",
                          "documentTypeId": 5002,
                          "documentTypeText": "Üyelik Bilgi Yazısı",
                          "exporterCompanyId": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "exporterCompanyName": "xyz firması",
                          "exporterCompanyTaxNumber": "0000000222",
                          "description": "[ TR ] - Otomotiv Endüstrisi İhracatçıları Birliği",
                          "id": "d1d8bbca-afe6-0011-4444-5f7563e6acad",
                          "statusId": 1,
                          "statusText": "Aktif",
                          "createdOn": "2020-07-20T11:42:31.0136185Z",
                          "createdBy": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "createdByUserFullname": "Oluşturan Ad Soyad",
                          "modifiedOn": "2020-07-20T11:42:32.9912014Z",
                          "modifiedBy": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "modifiedByUserFullname": "Düzenleyen Ad Soyad"
                        },
                        {
                          "code": "TIM20-072014-41517",
                          "documentTypeId": 5001,
                          "documentTypeText": "Üyelik Belgesi",
                          "exporterCompanyId": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "exporterCompanyName": "xyz firması",
                          "exporterCompanyTaxNumber": "0000000222",
                          "description": "",
                          "id": "75f1a411-4668-4cbb-bc11-a51aa0f0d200",
                          "statusId": 1,
                          "statusText": "Aktif",
                          "createdOn": "2020-07-20T11:41:50.3620579Z",
                          "createdBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "createdByUserFullname": "Oluşturan Ad Soyad",
                          "modifiedOn": "2020-07-20T11:41:52.5548771Z",
                          "modifiedBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "modifiedByUserFullname": "Düzenleyen Ad Soyad"
                        },
                        {
                          "code": "TIM20-072014-36415",
                          "documentTypeId": 5001,
                          "documentTypeText": "Üyelik Belgesi",
                          "exporterCompanyId": "d7a2ed7a-2290-4262-9e97-20ec57f8e0bf",
                          "exporterCompanyName": "xyz firması",
                          "exporterCompanyTaxNumber": "0000000222",
                          "description": "",
                          "id": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "statusId": 1,
                          "statusText": "Aktif",
                          "createdOn": "2020-07-20T11:36:34.0356707Z",
                          "createdBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "createdByUserFullname": "Oluşturan Ad Soyad",
                          "modifiedOn": "2020-07-20T11:36:36.3882274Z",
                          "modifiedBy": "a23df755-45e9-438b-b77d-dfba2e94a2af",
                          "modifiedByUserFullname": "Düzenleyen Ad Soyad"
                        }
                      ],
                      "total": 3
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Belgeleri listelemek için kullanılır.",
        "tags": [
          "Belge Talebi İşlemleri"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              },
              "examples": {
                "Örnek 1": {
                  "value": {
                    "page": 2,
                    "pageSize": 20,
                    "sorts": [
                      {
                        "fieldName": "CreatedOn",
                        "sortDirection": -1
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Belge listeleme için gönderilmesi gereken parametrelerdir."
        }
      }
    },
    "/file/get-info/{id}": {
      "get": {
        "summary": "Dosya Bilgisi Getirme",
        "tags": [
          "Dosya İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    },
                    "data": {
                      "$ref": "#/components/schemas/file-FileDescription"
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": {
                        "id": "f9c66002-89f4-41a8-9c35-c88272075201",
                        "name": "f9c66002-89f4-41a8-9c35-c88272075201",
                        "realFileName": "test.jpg",
                        "extension": ".jpg",
                        "contentType": "image/jpeg",
                        "size": 13902,
                        "uploadError": null,
                        "ownerId": "849034c7-9bd2-45fc-a063-ed851b24b030",
                        "fileType": 1003,
                        "isTemp": false,
                        "metadata": null,
                        "content": null,
                        "createdOn": "2020-04-22T10:54:02.1954924Z"
                      },
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden- Kullanıcının erişim yetkisinin bulunmadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Belirtilen dosyanın bulunamadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Kayıt Bulunamadı",
                      "message": "Ulaşmaya çalıştığınız kaynak bulunamadı. Lütfen erişmeye çalıştığınız adresi kontrol edip tekrar deneyiniz.",
                      "type": "warning",
                      "statusCode": 404
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-file-get-info",
        "description": "Dosya id'si yazılarak belirtilen dosya bilgileri getirilir."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/file/get-info": {
      "post": {
        "summary": "Toplu Dosya Bilgisi Getirme",
        "operationId": "post-file-get-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/file-FileDescription"
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": [
                        {
                          "id": "b8a88aca-eeed-4044-909e-25934a4cba73",
                          "name": "b8a88aca-eeed-4044-909e-25934a4cba73",
                          "realFileName": "test.jpg",
                          "extension": ".jpg",
                          "contentType": "image/jpeg",
                          "size": 13902,
                          "uploadError": null,
                          "ownerId": "3490ecf7-9bd2-45fc-a063-ed851b24rrrd",
                          "fileType": 1003,
                          "isTemp": false,
                          "metadata": null,
                          "content": null,
                          "createdOn": "2020-04-22T10:54:02.1954924Z"
                        },
                        {
                          "id": "2c00595e-8262-4afa-ba45-5d0bf6faa174",
                          "name": "2c00595e-8262-4afa-ba45-5d0bf6faa174",
                          "realFileName": "test.jpg",
                          "extension": ".jpg",
                          "contentType": "image/jpeg",
                          "size": 13902,
                          "uploadError": null,
                          "ownerId": "3490ecf7-9bd2-45fc-a063-ed851b24rrrd",
                          "fileType": 1003,
                          "isTemp": false,
                          "metadata": null,
                          "content": null,
                          "createdOn": "2020-04-22T10:54:02.1954924Z"
                        }
                      ],
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "description": "id listesi gönderilerek o id'lere ait dosyaların bilgilerini getirir.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Dosya id listesi",
                "items": {
                  "type": "string"
                }
              },
              "examples": {
                "Örnek 1": {
                  "value": [
                    "b8a88aca-eeed-4044-909e-25934a4cba73",
                    "2c00595e-8262-4afa-ba45-5d0bf6faa174"
                  ]
                }
              }
            }
          },
          "description": "Dosyalara ait id'ler array olarak gönderilir."
        },
        "tags": [
          "Dosya İşlemleri"
        ]
      }
    },
    "/file/download/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Dosya İndirme",
        "tags": [
          "Dosya İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden- Kullanıcının erişim yetkisinin bulunmadığı durumlarda alacağınız cevaptır.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "success": false,
                      "title": "Erişim Yetkisi Hatası",
                      "message": "Bu kaynağa erişim yetkiniz bulunmamaktadır. Bir hata olduğunu düşünüyorsanız lütfen sistem yöneticiniz ile irtibate geçiniz.",
                      "type": "warning",
                      "statusCode": 403
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-file-download-id",
        "description": "Dosya indirmek için kullnaılır. {id} yerine indirilmek istenen dosyanın id'si yazılır. Cevap olarak dosya döndürür."
      }
    },
    "/file/upload?ownerId={ownerId}&fileType={fileType]": {
      "post": {
        "summary": "Dosya Yükleme",
        "operationId": "post-file-upload",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/file-FileDescription"
                  }
                },
                "examples": {
                  "Örnek 1": {
                    "value": [
                      {
                        "id": "837d2bde-4c58-4tyh-b426-81e15cfca999",
                        "name": "837d2bde4c584tyhb42681e15cfca999",
                        "realFileName": "test.jpg",
                        "extension": ".jpg",
                        "contentType": "image/jpeg",
                        "size": 4624,
                        "uploadError": null,
                        "ownerId": "weftg56h-7660-4586-a486-c7dc2b63e1f8",
                        "fileType": 1003,
                        "isTemp": false,
                        "metadata": null,
                        "content": null,
                        "createdOn": "2020-08-05T07:55:41.4183355Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable - Dosyanın kaydedilemediği veya dosya uzantısının izin verilmediği durumlarda alacağınız cevaptır."
          }
        },
        "description": "Dosya yüklemek için kullanılır. Parametre olarak {ownerId} o dosyalar hangi kayda ait ise o kaydın id'sidir. Örneğin bir ticari sicil kaydı dosyası ise o dosyanın ait olduğu kaydın id'si buradaki {ownerId}'dir. \n\n{fileType} ise yüklenen dosyanın tipidir. Dosya tipinin int değerleri aşağıdaki gibidir.\n\nİmza Sirküleri = 1001,\nBaşvuru Dilekçesi = 1002,\nVekaletname = 1003,\nTicaret Sicil Gazetesi = 1004,\nVergi Levhası = 1005",
        "tags": [
          "Dosya İşlemleri"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "Yüklenen dosyanın tipi"
                    },
                    "contentDisposition": {
                      "type": "string",
                      "description": "Yüklenen dosyanın ham adını vs. alır."
                    },
                    "length": {
                      "type": "string",
                      "description": "Dosya uzunluğunu bayt cinsinden alır"
                    },
                    "name": {
                      "type": "string",
                      "description": "Dosya formdan gelmiş ise formdaki adı"
                    },
                    "fileName": {
                      "type": "string",
                      "description": "Dosya adı"
                    }
                  },
                  "required": [
                    "contentType",
                    "contentDisposition",
                    "length",
                    "name",
                    "fileName"
                  ]
                }
              }
            }
          },
          "description": "Dosya yüklerken gönderilmesi gereken dosyaya ait parametrelerdir."
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "ownerId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/green-password": {
      "get": {
        "summary": "Yeşil Pasaport Sorgulama",
        "tags": [
          "Yeşil Pasaport İşlemleri"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "integer",
                      "description": "Yeşil pasaport adedi"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Alınan cevabın başarısız veya başarılı durumuna göre true veya false olarak gelir."
                    },
                    "type": {
                      "type": "string",
                      "description": "Alınan cevabın başarılı veya başarısız olduğunun açıklaması."
                    },
                    "statusCode": {
                      "type": "integer",
                      "description": "Alınan cevabın durum kodu."
                    }
                  },
                  "required": [
                    "success",
                    "type",
                    "statusCode"
                  ]
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": 2,
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-green-password",
        "description": "Firmanın son 3 yıllık ihracat rakamına göre kaç adet yeşil pasaport alacağı bilgisini getirir. Dönen cevaptaki data değeridir."
      }
    },
    "/get-export-monthly?exportType={exportType}": {
      "get": {
        "summary": "Geçen Ayki İhracat Rakamı",
        "tags": [
          "İhracat Rakamları"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export-ExportNumberResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": "378.817",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-export-monthly",
        "description": "Firmanın geçen ayki ihracat değerini getirir. İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        }
      ]
    },
    "/get-export-monthly-now?exportType={exportType}": {
      "get": {
        "summary": "Aylık İhracat Rakamı",
        "tags": [
          "İhracat Rakamları"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export-ExportNumberResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": "38.817",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-export-monthly-now",
        "description": "Firmanın bu ayki ihracat değerini getirir. İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        }
      ]
    },
    "/get-export-yearly?exportType={exportType}&filter={filter}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "filter",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Yıllık Toplam İhracat Rakamı",
        "tags": [
          "İhracat Rakamları"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export-ExportNumberResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": "2.373.142",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-export-yearly?exportType=-exportType-&filter=-filter",
        "description": "Girilen yıla göre toplam ihracat değerini getirir. İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır. {filter} değeri ise yıl değeridir. Örneğin {filter} parametresi 2020 olarak gönderilirse 2020'ye ait toplam ihracat değerini getirir."
      }
    },
    "/get-kb-price?exportType={exportType}&filter={filter}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "exportType",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "filter",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Kg Birim Ürün Satış Fiyatı",
        "tags": [
          "İhracat Rakamları"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export-ExportNumberResult"
                },
                "examples": {
                  "Örnek 1": {
                    "value": {
                      "data": "4,88",
                      "success": true,
                      "type": "success",
                      "statusCode": 200
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-get-kb-price?exportType=-exportType-&filter=-filter",
        "description": "Firmanın Kg Birim Ürün Satış Fiyatını getirmek için kullanılır.İhracatçı veya imalatçı olarak ihracat değerleri alınır. Parametre olarak gönderilen {exportType} değeri 'manufacturer' veya 'exporter' olmalıdır. {filter} değeri ise yıl değeridir. Örneğin {filter} parametresi 2020 olarak gönderilirse 2020'ye ait Kg Birim Ürün Satış Fiyatı değerini getirir."
      }
    },
    "/member/list": {
      "post": {
        "summary": "Üye Firma Listeleme",
        "operationId": "post-member-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Firma adı"
                          },
                          "taxNumber": {
                            "type": "string",
                            "description": "Firma vergi numarası"
                          },
                          "taxRegistrationOffice": {
                            "type": "string",
                            "description": "Firma vergi dairesi"
                          },
                          "chamberOfCommerce": {
                            "type": "string",
                            "description": "Ticaret odası"
                          },
                          "commercialRegistrationNumber": {
                            "type": "string",
                            "description": "Firma ticari sicil numarası"
                          },
                          "companyTypeId": {
                            "type": "integer",
                            "description": "Firma tipi kodu"
                          },
                          "category": {
                            "type": "string",
                            "description": "Firma kategorisi"
                          },
                          "companyTypeText": {
                            "type": "string",
                            "description": "Firma tipi açıklaması"
                          },
                          "companyKind": {
                            "type": "string",
[...]
